01_Hello_World/vivado/*
!01_Hello_World/vivado/hello_world.xpr

02_GPIO_MIO/vivado/*
!02_GPIO_MIO/vivado/gpio_mio.xpr

03_GPIO_EMIO/vivado/*
!03_GPIO_EMIO/vivado/gpio_emio.xpr

04_GPIO_INTER/vivado/*
!04_GPIO_INTER/vivado/gpio_mio_inter.xpr

05_AXI_GPIO/vivado/*
!05_AXI_GPIO/vivado/axi_gpio.xpr

06_USER_LED/vivado/*
!06_USER_LED/vivado/user_led.xpr

07_AXI_GPIO_SD/vivado/*
!07_AXI_GPIO_SD/vivado/axi_gpio.xpr

09_TIMER_INTR_LED/vivado/*
!09_TIMER_INTR_LED/vivado/ps_xadc.xpr

10_PS_XADC/vivado/*
!10_PS_XADC/vivado/user_led.xpr

11_QSPI_FLASH/vivado/*
!11_QSPI_FLASH/vivado/qspi_flash.xpr

12_MICRO_SD_RW/vivado/*
!12_MICRO_SD_RW/vivado/micro_sd_rw.xpr

14_DUAL_CORE_AMP/vivado/*
!14_DUAL_CORE_AMP/vivado/dual_core_amp.xpr

IP/ip_user_files
IP/managed_ip_project

